@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1547697055301'); /* IE9 */
  src: url('iconfont.eot?t=1547697055301#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ4AAsAAAAABjAAAAItAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0TQE2AiQDCAsGAAQgBYRtBzUbeAURBWzJfiTGtiny0pn8qJGYiYf/9kvv+zObzP4AO0CVrMqJRC5LABCKFJBw1RWuSlbVoiO9xSy+NR1zKXQUrlPWsvz0HfnvTi8N6zxOIyRCISRC4vNcTm8CHcj8QOd6zUljTZrUC6gXB1Kge2AUWQll3DB2wQt8TKA2riW2do7OKTJ7VSDu37l1RSlEZZkVitDRcDCLjxpK9aqCD9H347eFKFQaid1y6ub2dWvfbzgl6Vn7mfMBIUZAxxtIaCET5xqzJyTBuKTOZtMcqzH4fqPdDjziqE7B/jq7vhuMwlzw/Ya3UoAKHmuqJvomXUQ0H93qjb6bqzeuz6zPzv5Z+OM7Zq7YHmv4Z+lzVSD48vrl30t9S/9LVwZfb45+ihzZMD9lVV/wC9SBA9nQ2u4qa2rjaKW567ZajTYcHPRtqm3kfMVQjEzwdxrLkBSzZGZbaOiyiA7FKmrzdo93GfJUErmJbM4LoGnhjZaZD9oWvmSH/aFr6Y+eRSSMXGLowrFV3BltMvqCEQRPSEIqleuVUdx4QH3Nfc5rI/6CXCcJcEy7XNhjibzElvqmXREFiqmAHXgO85ygYkoxFDMWqTzLUk1vMkMqGiNrDPkEioDAE0iESEkF48Wo8vkDpF3lfNzRV1deIFZLZgcOkz2A3JvKQX2P8krtRnMJoQCFkQLYgXkolyOgap6XQiFhiiekKx7LGaaGmsztLcXfnYCaba/C2ZmMrzDT3eBEx9JoAAA=') format('woff2'),
  url('iconfont.woff?t=1547697055301') format('woff'),
  url('iconfont.ttf?t=1547697055301') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1547697055301#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="el-icon-ump"], [class*=" el-icon-ump"] {
  font-family:"iconfont" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

 .el-icon-ump-arrow-right:before {
  content: "\e765";
}